.header__exit-button {
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 768px) {
  .header__exit-button {
    display: flex;
    opacity: 1;
    visibility: visible;
    padding: 0;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/exit.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    background-size: 20px 20px;
    transition: opacity .3s;
    margin-left: auto;
  }

  .header__exit-button:hover {
    opacity: .6;
    cursor: pointer;
  }
}