.form__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 358px;
}

@media screen and (max-width: 768px) {
  .form__form {
    width: calc(260px + (358 - 260) * (100vw - 320px) / (768 - 320));
  }
}