.form__input {
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-bottom: 2px solid #CCC;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 13px;
  background-color: transparent;
  width: 100%;
  color: white;
}

.form__input::placeholder {
  color: #CCC;
}